@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



.container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;

}

.card:hover {
    box-shadow: 10px 0px 5px rgb(187, 187, 187);
    border-radius: 12px;
    transition: .5s ease-in-out;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}



.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: rgb(242, 83, 83);
  background: rgb(242, 83, 83);
  color: #fafafa;
}


.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}

.post__btn {
    width: 100%;
    border: none;
    cursor: pointer;
    color: white;
    border-left: 600;
    background-color: rgb(242, 83, 83);
    font-family: 'Courier New', Courier, monospace;
}


.text__up {
    justify-content: center;
    align-items: center;
    display: flex;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: rgb(242, 83, 83);
    cursor: pointer;
}

.text__up:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 4px;
    text-decoration-color: rgb(222, 222, 222);
    transition: 0.7s ease;
}

.post__main__div {
    margin: 3rem;
    width: 100vw;
    margin-left: -3.80rem;
    margin-top: 9rem;
}

.post__group {
  display: flex;
  flex-direction: column;
}

.post__gif__text {
  line-height: 1.1;
  inline-size: 160px;
   margin-left: 15px;
}

.div__main__group {
  display: flex;
  justify-content: space-evenly;
}

.post__gif__text2 {
  line-height: 1.1;
  inline-size: 160px;
   margin-left: 15px;
}

.post__gif__text3 {
  line-height: 1.1;
  inline-size: 160px;
   margin-left: 15px;
}

.div__main__group {
font-family: fantasy;
}

.text__heading {
  font-family: fantasy;
}

.row {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-evenly;
  max-width: 100%;
  margin-block: 2rem;
}

.post__readMore__btn {
display: flex;
justify-content: center;
align-items: center;
}

.btn__div {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: -5rem;
}



/* CSS */
.button-86 {
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}