.app__navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    background-color: rgb(250, 250, 250);
    box-shadow: 10px 0px 5px rgb(187, 187, 187);
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%;
}

.app__links__ul {
    display: flex;
     margin-right: 2rem;
     gap: 1rem;
     cursor: pointer;
     position: relative;
     left: 2rem;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 400;
}


.app__logo {
    position: relative;
    right: 2rem;
}


.app__link__active {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: rgb(242, 83, 83);

}

.app__link__active:active {
    text-decoration-color: green ;
    transition: 0.7s ease;

}
.app__link__active:hover {
    text-decoration-color: green ;
    transition: 0.7s ease;

}

.app__link__noactive:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: red;
    transition: 0.7s ease;
    
}
.app__link__noactive:active {
    text-decoration-color: green ;
    transition: 0.7s ease;

}