.details__main {
    margin-top: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.details__image {
    width: 500px;
}

.details__desc {
    margin-top: 2.50rem;
    max-width: 500px;
    line-height: normal;
    font-size: 20px;
}

.details__tag {
    margin-top: 1rem;
}

.details__title {
    font-size: 30px;
    margin-bottom: 1rem;
    text-transform: capitalize;
    background: rgb(242, 83, 83);
    background: rgb(242, 83, 83);
    color: #fafafa;
    padding: .25em .75em;
    border-radius: 1em;
}

.tag-blue {
    background: rgb(242, 83, 83);
    background: rgb(242, 83, 83);
    color: #fafafa;
    align-self: flex-start;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: 1rem;
    
  }


/* here */




.loading {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-hourglass {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid rgb(20, 19, 19);
    border-color: rgb(14, 13, 13) transparent rgb(11, 9, 9) transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }