.postMain__search {
  margin-top: 6rem;
  display: flex;
   justify-content: center;

}

/* css */

.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid black;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  
 
  
  .searchButton {
    width: 40px;
    height: 20px;
    border: 1px solid black;
    background: black;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  

  .wrap{
    width: 30%;
  }

  .a {
    margin-top: 5rem;
  }


  .postMain__post {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    max-width: 100%;
    margin-block: 2rem;
  }

  .a {
    margin-top: 6rem;
  }